.bg{
    background: url("./image/img.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 200%;
}

.form-container{
    position: absolute;
    top:15vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}


@media only screen and (max-width:678px) {
    .bg{
        background-size :300%;
       
    }
}

body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.sidebare{
    position: relative;
    width: 250px;
    height: 100%;
    background-color: rgb(95, 92, 92);
    overflow-y: scroll; 
    overflow-x: hidden;
    box-shadow: 0px 0px 10px 0px #000;
}

.decoration{
    list-style-type: none;
    cursor: pointer;
}
.child {
    display: none;
    text-decoration-line:underline;

}
.fit{
    margin:10px;
    width: 100%;
    color: white;
    cursor: pointer;
    margin: 30px;
    font-size: small;
}
.fit:hover{
    color:black;
}
.change{

    width: 100%;
    display: none;
    cursor: pointer;
    color:white;
    margin:10px;
    padding: 10px;
}
.change li{
    margin:5px;
    padding:5px;
    color: white;
}
.change a:hover{
    color:#000;
}
.admin{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: blue;
    float: right;
    padding: 15px;
}
.log{
    font-size: 12px;
    padding: 10px;
    color:white;
    margin: 5px;
}
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(155, 152, 152); 
    border-radius: 10px;
  }
 
  .icon{
      float: left;
      padding: 4px;
      color: rgb(187, 178, 178);;
  }
  .icon2{
   position: absolute;
   left: 200px;
}
.rB {
    transform: rotate(90deg);
  }
